<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">My Dashboard</a>
        <a href="#">Find Investors</a>
        <button class="dropdown-btn">Update Business
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Update Business Info</a>
            <a href="#">Download Pitch Deck</a>
            <a href="#">Add Another Business</a>
          </div>
          <button class="dropdown-btn">Account Settings
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Update Profile</a>
            <a href="#">Delete Account</a>
          </div>
      </div>