        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>{{user.first_name}}'s Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                {{!-- <p>Dummy Heading</p> --}}
                <li class="active">
                    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account Settings</a>
                    <ul class="collapse list-unstyled" id="accountSubmenu">
                        <li>
                            <a href="/users/account/update">Update Profile</a>
                        </li>
                        <li>
                            <a href="/users/account/delete">Delete Account</a>
                        </li>
                        
                    </ul>
                </li>
                
                <li>
                    <a href="#businessSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Business Info</a>
                    <ul class="collapse list-unstyled" id="businessSubmenu">
                        <li>
                            <a href="/business/update">Update Business Info</a>
                        </li>
                        <li>
                            <a href="/business/add">Add Business</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="/investors">Find Investors</a>
                </li>
              
            </ul>
        </nav>
