<header class="fixed top-bar">
        <div class="navbar-wrap">
            <div class="site-logo">
                <img id="logo" src="Example.png" height="50" width="50" alt="Startup Financing">

            </div>
           
            <nav class="main-nav" id="topnav">
                <a href="/">Home</a>
                <a href="http://localhost:{{port}}/aboutUs">About Us</a>
                <span id="user-login" class="login">
                    <a href="http://localhost:{{port}}/users/login">Sign in</a>
                    <span class="whitespace">or</span>
                    <a href="http://localhost:{{port}}/users/createUser">Sign up</a>
                </span>
                <a href="javascript:void(0);" id="myDropDownTop" class="icon" onclick="topnavBurger()">
                    <i class="fa fa-bars"></i>
                  </a>
            </nav>
            
        </div>
    </header>