<header id="topnav-bar"class="fixed top-bar">
        <div class="navbar-wrap">
            <div class="site-logo">
                <img id="logo" src="../Example.png" height="50" width="50" alt="Startup Financing">

            </div>
           
            <nav class="main-nav" id="topnav">
                <a href="/index.html">Home</a>
                <a href="/aboutus">About Us</a>
                <span id="user-loggedin" class="login">
                    <a href="/logout">Sign-out</a>
                </span>
                <a href="javascript:void(0);" class="icon" onclick="topnavBurger()">
                    <i class="fa fa-bars"></i>
                </a>
            </nav>
            
        </div>
    </header>