
<div class="text" align="center"><h1>About Us</h1>
	<h1>We are the one who are going to raise your startup to an incredible height</h1>
    Welcome to StartupFinancing Webapp,where the Entrepreneurs and their StartUps gets previlage<br> to find the funding to grow their Business as well as to provide Investors a portal <br>to view information and invest into the startups<br>
    <h2>Vision</h2>

    Create economic oppourtunity for every member of the global workforce.<br>
    <h2>Mission</h2>

    The Mission of StartrUp Financing Webapp is simple : Connect the enterpeneurs<br> to investors to make them more productive and successful.
	</div>