<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a WebSite for a helping investment to meet Business StartUps. It includes a portal for both the Investors and the Entrepreneurs Who can Directly search for required business or Investor.</p>
        <p><a class="btn btn-primary btn-lg" href="/aboutUs" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Entrepreneurs</h2>
          <p>Entrepreneurs are invited to put their brilliant ideas on our portal which will be invested into by Investors. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Investors</h2>
          <p>Investors are invited to apply their brilliant minds to find the most appealing idea and invest into it. This would help both the Business and the investor to grow both in popularity and in financial terms.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        
      </div>

      <hr>