
<form action="login" method="post">      
		<input type= "text/html" placeholder = "username" id = "username" name="username" >
        <input type= "password" placeholder = "password" id = "password" name="password">
        <button type = "submit" id = "login">Login</button>
</form>