<form action="createUser" method="post">      
		<input type= "text/html" placeholder = "username" id = "username" name="username" >
		<input type= "text/html" placeholder = "email" id = "email" name="email">
        <input type= "password" placeholder = "password" id = "password" name="password">
        <button type = "submit" id = "login">SignUp</button>
</form>