{{#if errors}}
	{{#each errors}}
	<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form action="createUser" method="post">      
		<input type= "text/html" placeholder = "username" id = "username" name="username" >
		<input type= "text/html" placeholder = "email" id = "email" name="email">
        <input type= "password" placeholder = "password" id = "password" name="password">
        <input type= "text/html" placeholder = "First Name" id = "first_name" name="fname">
        <input type= "text/html" placeholder = "Last Name" id = "last_name" name="lname">
         <select name="role">
		  <option value="entrepreneur">Entrepreneur</option>
		  <option value="investor">Investor</option>
		</select> 
        <input type= "text/html" placeholder = "contact" id = "contact" name="contact">
        <button type = "submit" id = "login">SignUp</button>
</form>