
<h3> Delete Your Account</h3>
<form action="/users/account/delete" method="Post">
	<h4> Can't see you going </h4>
	<label for name="reason">Please tell Us the reason why u want to leave us.</label>
	<input type="text/html" name="reason">
	<input type="submit" name="delete" value="Delete Your Account">
</form>