
{{#each investors}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.first_name}} {{this.last_name}}</h5>
    <h6 class="card-text">Contact : {{this.contact_no}}</h6>
    
  </div>
</div>

	{{/each}}